{"extra":{"eas":{"projectId":"c50a28e0-0f8c-4fe6-bdba-c4c49cda35d5"}},"runtimeVersion":"1.0.0","updates":{"url":"https://u.expo.dev/c50a28e0-0f8c-4fe6-bdba-c4c49cda35d5"},"android":{},"ios":{"requireFullScreen":true,"supportsTablet":true},"name":"layla","slug":"layla","version":"0.0.1","sdkVersion":"51.0.0","platforms":["ios","android"]}